/* ======= Google fonts (Oswald & Didact Gothic) ======= */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ======= Basic style ======= */
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

body {
  font-family: 'Franklin Gothic Book';
  font-size: 24px;
  font-weight: normal;
  line-height: 1.75em;
  color: #46271A;
  overflow-x: hidden !important;
  background: #F3E9DD;
  min-height: 75rem;
  padding-top: 4.5rem;
}

.banner {
    position: relative;
    bottom: 80px;
    width: 100%;
    height: 20%;
}
.banner img {
    width:100%;
    height: 100%;
}

/* ======= Navbar style ======= */
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 99;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0px;
  padding-bottom: 0;
  height: 70px;
}

.navbar .icon-bar {
  color: #b19777;
}

.navbar .navbar-nav .nav-link {
  position: relative;
  left: 750px;
  font-family: 'Cinzel';
  font-size: 24px;
  font-weight: 250;
  text-transform: uppercase;
  text-align: left;
  margin: 5px 5px;
  margin-top: 45px;
  -webkit-transition: all .1s;
  transition: all .2s;
}

.navbar .navbar-nav .nav-link.black-color {
  color: #46271A;
}

.navbar .navbar-nav .nav-link:hover {
  color: #292526;
}

.navbar .navbar-nav .active {
  color: #46271A !important;
}

.navbar-brand {
  padding-left: 0px;
    position: relative;
  margin-top: 10px;
  top: -680px;
    left: 40px;
  width: 160px;
  height: 100px;
  text-align: center;
}

input[type=date], select{
  background-color: #875A45;
  width: 15%;
  display: inline-block;
  color: white;
  margin-left: -5px;
  box-sizing: border-box;
  position:relative;
  text-align: center;
}

input[type=number], select{
  background-color: #875A45;
  width: 15%;
  display: inline-block;
  color: white;
  margin-left: -5px;
  box-sizing: border-box;
  position:relative;
  text-align: center;

}

.checkincontent{
  font-size: 20px;
  margin-top: -300px;
  margin-left: 150px;
}

.checkincontent label {
  margin-left: 7%;
  color: #875A45;
}

/*-------Menu------*/
.hidemenu {
    display: none;
}
.menu {
    display: none;
}
/* =======  Content  ======= */
.content-wrapper {
  position: relative;
  margin-left: -10px;
}
.section-padding {
    margin-bottom: 1px;
    margin-top: 1px;
    padding-top: 1px;
}
/* ======= Section style 1 ======= */

.roomdetailsbanner img{
    position: relative; 
    top:100px; 
    margin-left: 300px;
    
}
.content1 {
  height: 600px;  
}
.section-title {
    width: 510px;
  font-size: 48px;
  font-family: 'Pt Serif';
  font-weight: bold;
  position: relative;
  left: 815px;
  top: 205px;
  letter-spacing: 7px;
  word-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.section-title span {
  color: #47271C;
}

p {
  font-size: 25px;
  font-family: Franklin Gothic Book;
  position: relative;
  left: 100px;
  top: 125px;
  line-height: 1.75em;
  color: #875A45;
}

.rectangle {
  height: 50px;
  width: 583px;
  background-color: #E2C7B6;
  position: relative;
  left: 815px;
  top: 20px;
  margin-bottom: 30px;
  margin-top: 27px;
  z-index: -1;
  box-shadow: 10px 10px 5px #EDD7BE;
}

.vl {
  border-left: 3px solid #292526;
  height: 250px;
  position: relative;
  left: 750px;
  top: -155px;
}
/* ======= Section style 2 ======= */
.content2 {
    height: 300px;
}
.section-title2 {
  font-size: 48px;
    width: 400px;
    text-align: right;
  font-family: 'Pt Serif';
  font-weight: bold;
  position: relative;
  left: 3px;
  top: 30px;
  letter-spacing: 7px;
  word-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.section-title span {
  color: #47271C;
}

.p2 {
    width: 500px;
  font-size: 25px;
  font-family: Franklin Gothic Book;
  position: relative;
  left: 800px;
  top: -110px;
  line-height: 1.75em;
  color: #875A45;
}

.p3 {
  font-size: 25px;
  font-family: Franklin Gothic Book;
  position: relative;
  left: 800px;
  top: -120px;
  line-height: 1.75em;
  color: #47271C;
  font-weight: bold;  
}

.rectangle2 {
  height: 50px;
  width: 600px;
  background-color: #E2C7B6;
  position: relative;
  right: 106px;
  top: -275px;
  margin-bottom: 30px;
  margin-top: 27px;
  z-index: -1;
  box-shadow: 10px 10px 5px #EDD7BE;
}

.vl2 {
  border-left: 3px solid #292526;
  height: 250px;
  position: relative;
  left: 650px;
  top: -460px;
}
/* ======= Section style 3 ======= */
.content3 {
    height: 300px;
}
.section-title3 {
  font-size: 48px;
    width: 400px;
  font-family: 'Pt Serif';
  font-weight: bold;
  position: relative;
  left: 815px;
  top: 100px;
  letter-spacing: 7px;
  word-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.section-title span {
  color: #47271C;
}

.p4 {
  font-size: 25px;
  font-family: Franklin Gothic Book;
  position: relative;
  left: 50px;
  top: 0px;
  line-height: 1.75em;
    width: 550px;
  color: #875A45;
}

.rectangle3 {
  height: 50px;
  width: 580px;
  background-color: #E2C7B6;
  position: relative;
  left: 815px;
  top: -70px;
  margin-bottom: 30px;
  margin-top: 27px;
  z-index: -1;
  box-shadow: 10px 10px 5px #EDD7BE;
}

.vl3 {
  border-left: 3px solid #292526;
  height: 250px;
    width: 10px;
  position: relative;
  left: 750px;
  top: -260px;
}
/* ======= Section style 4 ======= */
.content4 {
    height: 500px;
}
.section-title4 {
  font-size: 48px;
    width: 540px;
  font-family: 'Pt Serif';
  font-weight: bold;
  position: relative;
  left: 5px;
  top: 300px;
  letter-spacing: 7px;
  word-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.section-title span {
  color: #47271C;
}

.p5 {
  font-size: 25px;
  font-family: Franklin Gothic Book;
  position: relative;
  left: 780px;
  top: 70px;
    width: 500px;
  line-height: 1.75em;
  color: #875A45;
}

.rectangle4 {
  height: 50px;
  width: 657px;
  background-color: #E2C7B6;
  position: relative;
  left: -107px;
  top: -170px;
  margin-bottom: 30px;
  margin-top: 27px;
  z-index: -1;
  box-shadow: -10px 10px 5px #EDD7BE;
}

.vl4 {
  border-left: 3px solid #292526;
  height: 250px;
  position: relative;
  left: 655px;
  top: -350px;
}
/* ======= Section style 5 ======= */
.content5 {
    height: 500px;
}
.section-title5 {
  font-size: 48px;
    width: 420px;
  font-family: 'Pt Serif';
  font-weight: bold;
  position: relative;
  left: 815px;
  top: 250px;
  letter-spacing: 7px;
  word-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.section-title span {
  color: #47271C;
}

.rectangle5 {
  height: 50px;
  width: 580px;
  background-color: #E2C7B6;
  position: relative;
  left: 815px;
  top: 60px;
  margin-bottom: 30px;
  margin-top: 27px;
  z-index: -1;
  box-shadow: 10px 10px 5px #EDD7BE;
}

.vl5 {
  border-left: 3px solid #292526;
  height: 250px;
  position: relative;
  left: 750px;
  top: -120px;
}
.button1 {
  position: relative;
  left: 150px;
  top: 140px;
  border: none;
  /* Remove borders */
  color: #E2C7B6;
  /* Add a text color */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
  background-color: #875A45;
  width: 400px;
  height: 50px;
  border-radius: 0px;
  text-align: center;
  font-size: 24px;
  font-family: 'Franklin Gothic Book';
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  padding-left: 23px;
  opacity: 0;
  top: 0;
  font-size: 24px;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
  color: #E2C7B6;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button1:active {
  background-color: #47271C !important;
  box-shadow: 2px 3px #666;
  transform: translateY(2px);
}

/* ======= Section style 6 ======= */
.content6 {
    height: 300px;
}

.section-title6 {
  font-size: 48px;
  font-family: 'Pt Serif';
  font-weight: bold;
  position: relative;
  left: 135px;
  top: 40px;
  width: 500px;
  letter-spacing: 7px;
  word-spacing: 3px;
  margin-bottom: 30px;
  margin-top: 27px;
}

.section-title span {
  color: #47271C;
}


.rectangle6 {
  height: 50px;
  width: 650px;
  background-color: #E2C7B6;
  position: relative;
  left: -100px;
  top: -270px;
  margin-bottom: 30px;
  margin-top: 27px;
  z-index: -1;
  box-shadow: -10px 10px 5px #EDD7BE;
}

.vl6 {
  border-left: 3px solid #292526;
  height: 250px;
  width: 1px;
  position: relative;
  left: 655px;
  top: -450px;
}
/* ======= Form Field ======= */
input[type=text], select {
  background-color: #EDD7BE;
  width: 40%;
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position:relative;
  left: 800px;
  top: -80px;
  margin-top: 10px;
}

/* ======= Next Button ======= */
.content7 {
    height: 20px;
}
.button2 {
  position: relative;
  left: 560px;
  top: 150px;
  border: none;
  /* Remove borders */
  color: #E2C7B6;
  /* Add a text color */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
  background-color: #875A45;
  width: 200px;
  height: 50px;
  border-radius: 0px;
  text-align: center;
  font-size: 24px;
  font-family: 'Franklin Gothic Book';
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  padding-left: 23px;
  opacity: 0;
  top: 0;
  font-size: 24px;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
  color: #E2C7B6;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.button2:active {
  background-color: #47271C !important;
  box-shadow: 2px 3px #666;
  transform: translateY(2px);
}

/* ------ Contact -----*/

.content8 {
    height: 300px;
}
.contact-background {
  position: relative;
  top: 300px;
  width:100%;
  max-height: 475px;
}

.content8 h4{
  position: relative;
  top: -80px;
  left: 580px;
  width:200px;
  font-family: 'Cinzel';

}

.content8 p{
    position: relative;
    text-align: center;
    left: 470px;
    width: 400px;
    top: -50px;
    color: #47271C;
    font-family: 'Franklin Gothic Book';
    font-size: 24px;
}

.button4 {
  position: relative;
  top: -10px;
  left: 560px;
  align-content: center;
  border: none;
  /* Remove borders */
  color: #E2C7B6;
  /* Add a text color */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
  background-color: #875A45;
  width: 224px;
  height: 50px;
  border-radius: 0px;
  text-align: center;
  font-size: 24px;
  font-family: Franklin Gothic Book;
}

.button4 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button4 span:after {
  content: '\00bb';
  position: absolute;
  padding-left: 23px;
  opacity: 0;
  top: 0;
  font-size: 24px;
  right: -20px;
  transition: 0.5s;
}

.button4:hover span {
  padding-right: 25px;
  color: #E2C7B6;
}

.button4:hover span:after {
  opacity: 1;
  right: 0;
}

.btn:active {
  color: #EDD7BE;
  background-color: #47271C !important;
  box-shadow: 2px 3px #666;
  transform: translateY(2px);
}

.lines3 {
  position: relative;
  border-bottom: 3px solid #323232;
  top: 730px;
  left: 80px;
  width: 90%;
  padding-top: 0px;
  z-index: 3;
  color:#47271C; 
}

/* ------ Footer -----*/
.footer {
  position: relative;
    width: 10px;
    left: 250px;
}
.footer img{
  height: 200px;

}

/* ------ Check In Banner -----*/
.checkinbanner {
    position: relative;
    width: 550px;
    height: 50px;
    top: -4150px;
    left: 170px;
}


/* ------ Nav mobile size -----*/
@media screen and (max-width: 991px) {
  .navbar .navbar-nav {
    display: none;
  }

  .banner .navbar-brand img{
    padding-left: 0px;
      position: relative;
    width: 70px;
    height: 40px;
      top: -20px;

  }

  .banner img {
    width: 375px;
    height: 100%;
}


/* ------ Menu mobile size -----*/
@media screen and (max-width: 991px) {
  input[type=date], select{
    background-color: #875A45;
    width: 90px;
      height: 20px;
    display: inline-block;
    color: white;
    margin-left: -5px;
    box-sizing: border-box;
    position:relative;
      bottom: 20px;
    text-align: center;
    font-size: 9px;
  }
  
  input[type=number], select{
    background-color: #875A45;
    width: 90px;
      height: 20px;
    display: inline-block;
    color: white;
    margin-left: -5px;
    box-sizing: border-box;
    position:relative;
      bottom: 20px;
    text-align: center;
    font-size: 9px;
  }
  
  .checkincontent{
    font-size: 11px;
    width: 330px;
    margin-top: -100px;
      position: relative;
    right: 110px;
  }
  
  .checkincontent label {
    margin-left: 11%;
      height: 1px;
    color: #875A45;
  }
    .hidemenu {
        display: block;
    }
.menu {
    width: 100%;
    height: 100%;
    background-color:#E2C7B6;
    opacity: 80%;
    filter: alpha(opacity=100);
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: left;
    align-items: left;
    padding-bottom: 1%;
    transition: left .8s cubic-bezier(1,0,0,1);
    z-index: 5;
}

.menu:hover {
    opacity: 0.8;
    filter: alpha(opacity=100);
}

.change {
    left: 0;
}

.hamburger-menu {
    width: 35px;
    height: 35px;
    position: fixed;
    top: 20px;
    left: 330px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.m-lines {
    width: 100%;
    height: 3px;
    background-color: #47271C;
    transition: all 0.8s;
}

.change .lines-1 {
    transform: rotateZ(-405deg) translate(-11px,9px);
}
.change .lines-2 {
    opacity: 0;
}

.change .lines-3 {
    transform: rotateZ(405deg) translate(-11px,-9px);
}
.menu-list {
    text-align: center;
}

.menu-item {
    list-style: none;
    position: relative;
    top: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
  
}

.menu-link {
    text-decoration: none;
    font-size: 45px;
    color:#47271C;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: "Cinzel";
}

.menu-link:hover {
    color: #875A45;
}

.menu-link::before,
.menu-link::after {
    content: " ";
    width: 100%;
    height: 2px;
    background-color:#47271C;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.menu-link::after {
    bottom: 0;
    transform-origin: right;

}

.menu-link::before {
    top: 0;
    transform-origin: left;
}

.menu-link:hover::before,
.menu-link:hover::after {
    transform: scaleX(1);
}
.menufooter {
        position: absolute;
        top: 85%;
        left: 3%;
        width: 350px;
        height: 70px;
    }
}

/* ------ Nav mobile size -----*/
@media screen and (max-width: 991px) {
    .navbar .navbar-nav {
        display: none;
    }
    .navbar-brand {
        width: 7%;
        height: 2%;
        margin-top: 10px;
        position: fixed;
        left: 10px;
        top: 15px;
        z-index: 7;
    }
    .navbar {
        display: none;
    }
    h2 {
        font-size: 12px !important;
        line-height: 1.5em;
        margin-bottom: 15px !important;
        margin-top: 12px !important;
        letter-spacing: 2px !important;
    }
    h5 {
        font-size: 9px;
    }
    p {
        font-size: 9px;
    }
    .content-wrapper{
      width: 375px;
      height: auto;
    }
}


/* ------ Section 1 Mobile Size -----*/
@media screen and (max-width: 991px){
    .roomdetailsbanner {
        position: relative;
        top: -90px;
        height: 100px;
    }
    
    .roomdetailsbanner img{
        width: 280px;
        height: 30px;
        left: 5px;
        margin-left: 30px;
    }


    
.content1 {
  height: 150px;
    width: 100px;
  margin-left: 25%;
    }
    
.section-title {
   font-size: 16px !important;
   position: relative;
   top: 22px;
   left: 105%;
   letter-spacing:3px;
   width: 180px;
   font-size: 25px;
}
    
p {
    position: relative;
    top: -40px;
    left:-70px;
    width: 130px;
      font-size: 10px;
    }
    
.rectangle {
    position: relative;
    top: -95px;
    left: 105%;
    height: 15px;
    width: 180px;
    box-shadow: 5px 5px 1px #EDD7BE;
   
}
    
 .vl {
    position: relative;
    top: -162px;
    left: 85px;
    height: 50px;
    width: 1px;
}

    
/* ------ Section 2 Mobile Size -----*/
@media screen and (max-width: 991px){
  
.content2 {
  height: 150px;
    width: 100px;
    }
    
.section-title2 {
   font-size: 16px;
   position: relative;
   top: 0px;
   left: 10px;
   letter-spacing:3px;
   width: 130px;
}
    
.p2 {
    position: relative;
    top: -65px;
    left: 180px;
    width: 190px;
    font-size: 10px;
    line-height: 0.3em;
    margin-bottom: 15px;
      
    }
    
.p3 {
    
    position: relative;
    top: -65px;
    left: 180px;
    width: 120px;
    font-size:12px;
    line-height: 0.3em;
    margin-top: 20px;
    }
    
    
.rectangle2 {
    position: relative;
    top: -130px;
    left: -30px;
    height: 15px;
    width: 167px;
    box-shadow: -5px 5px 1px #EDD7BE;
}
    
 .vl2 {
    position: relative;
    top: -202px;
    left: 150px;
    height: 70px;
    width: 1px;

}

/* ------ Section 3 Mobile Size -----*/
@media screen and (max-width: 991px){
    
.content3 {
  height: 150px;
    width: 100px;
    }
    
.section-title3 {
   font-size: 16px;
   position: relative;
   top: -30px;
   left: 230px;
   letter-spacing:3px;
   width: 150px;
}
    
.p4 {
    position: relative;
    top: -100px;
    left:15px;
    width: 180px;
    font-size: 12px;
      
    }
    
.rectangle3 {
    position: relative;
    top: -160px;
    left: 230px;
    height: 15px;
    width: 142px;
    box-shadow: 5px 5px 1px #EDD7BE;
   
}
    
 .vl3 {
  position: relative;
  top: -235px;
  left: 210px;
  height: 70px;
  width: 1px;
}
}

/* ------ Section 4 Mobile Size -----*/
@media screen and (max-width: 991px){
  
.content4 {
  height: 150px;
    width: 100px;
    }
    
.section-title4 {
   font-size: 16px;
   position: relative;
   top: -20px;
   left: 5px;
   letter-spacing:3px;
   width: 130px;
}
    
.p5 {
    position: relative;
    top: -160px;
    left:160px;
    width: 200px;
    font-size:12px;
    }
  
    
.rectangle4 {
    position: relative;
    top: -313px;
    left: -30px;
    height: 15px;
    width: 155px;
    box-shadow: -5px 5px 1px #EDD7BE;
   
}
    
 .vl4 {
    position: relative;
    top: -400px;
    left: 135px;
    height: 100px;
    width: 1px;
}

/* ------ Section 5 Mobile Size -----*/
@media screen and (max-width: 991px){
    
.content5 {
  height: 150px;
    width: 100px;
    }
    
.section-title5 {
   font-size: 16px;
   position: relative;
   top: 15px;
   left: 200px;
   letter-spacing:3px;
   width: 150px;
    line-height: 1.5em;
}
    
.rectangle5 {
    position: relative;
    top: -115px;
    left: 200px;
    height: 15px;
    width: 172px;
    box-shadow: 5px 5px 1px #EDD7BE;
}
    
 .vl5 {
    position: relative;
    top: -180px;
    left: 170px;
    height: 60px;
    width: 1px;
}
    
    .button1 {
  position: relative;
  left: 15px;
  top: -60px;
  border: none;
  /* Remove borders */
  color: #E2C7B6;
  /* Add a text color */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
  background-color: #875A45;
  width: 140px;
  height: 20px;
  border-radius: 0px;
  text-align: center;
  font-size: 10px;
  font-family: 'Franklin Gothic Book';
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  top: -3px;
    right: 0px;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  padding-left: 2px;
  opacity: 0;
  top:-6px ;
  font-size: 16px;
  right: 2px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 11px;
  color: #E2C7B6;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button1:active {
  background-color: #47271C !important;
  box-shadow: 2px 3px #666;
  transform: translateY(2px);
}    
}

/* ------ Section 6 Mobile Size -----*/
@media screen and (max-width: 991px){
  
.content6{
  height: 150px;
    width: 100px;
    }
    
.section-title6 {
   font-size: 16px;
   position: relative;
   top: -25px;
   left: 10px;
   letter-spacing:3px;
   width: 160px;
}
    
.rectangle6 {
    position: relative;
    top: -260px;
    left: -20px;
    height: 16px;
    width: 180px;
    box-shadow: -5px 5px 1px #EDD7BE;
}
    
 .vl6 {
    position: relative;
    top: -330px;
    left: 180px;
    height: 90px;
    width: 1px;
}

/* ======= Form Field Mobile Size ======= */
@media screen and (max-width: 991px){

input[type=text], select {
  background-color: #EDD7BE;
  width: 220%;
  height: 10px;
  display: inline-block;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  position:relative;
  left: 200px;
  top: -130px;
  font-size: 11px;
}


/* ------ Section 7 Mobile Size -----*/
@media screen and (max-width: 991px){
.content7{
  height: 150px;
    width: 100px;
}

.button2 {
  position: relative;
  left: 130px;
  top: 10px;
  border: none;
  /* Remove borders */
  color: #E2C7B6;
  /* Add a text color */
  cursor: pointer;
  /* Add a pointer cursor on mouse-over */
  background-color: #875A45;
  width: 100px;
  height: 25px;
  border-radius: 0px;
  text-align: center;
  font-size: 16px;
  font-family: 'Franklin Gothic Book';
}

    .button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  top: -6px;
    right: 0px;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  padding-left: 2px;
  opacity: 0;
  top:-4px ;
  font-size: 20px;
  right: 2px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 20px;
  color: #E2C7B6;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}

.button2:active {
  background-color: #47271C !important;
  box-shadow: 2px 3px #666;
  transform: translateY(2px);
}  

/* ------ Contact mobile size -----*/
@media screen and (max-width: 991px) {
  .contact-background {
    width: 102.5%;
    position: relative;
    top: -30px;
  }
  .content8 {
    position: relative;
    top: 0px;
    left: 0px;
      height: 1px;
      width: 100px;
    letter-spacing: 1px;
  }
    .content8 h4 {
        font-size: 16px;
        left: 100px;
        top: -130px;
        width: 170px;
        margin-bottom: 2px;
        margin: 1px;
    }
    .content8 p {
        margin-bottom: 1px;
        position: relative;
        left: 10px;
        font-size: 12px;
        top: -120px;
        margin: 1px;
        width: 350px;
    }
  .button4 {
        height: 25px;
      width: 120px;
      position: absolute;
      top: -70px;
      left: 125px;
        font-size: 16px;
    }
    .button4 span {
        position: relative;
        bottom: 7px;
        right: 0px;
    }
    .button4 span:after {
        position: absolute;
        top: -7px;
    }
.button4:hover span {
  padding-right: 20px;
  color: #E2C7B6;
}
  .lines3 {
    position: relative;
    top: 83px;
    width: 85%;
      left: 35px;
      padding-top: 10px;
  }
}

/* ------ Footage page mobile size -----*/
@media screen and (max-width: 991px) {
  .footer {
    position: relative;
    top: -20px;
    left: 15px;
  }

  .footer img{
    width: 300px;
    height: 150px;
  }
}